{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>My Calendar</h1>
    <div id="calendar"></div>

    <script src="{% static 'fullcalendar/@fullcalendar/core/main.js' %}">calendar</script>
    <script src="{% static 'fullcalendar/@fullcalendar/daygrid/main.js' %}">cale</script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['dayGrid'],
                events: '/events/'
            });
            calendar.render();
        });
    </script>
{% endblock %}
