{% extends 'base.html' %}
{% load static %}
{% block content %}
 


<!DOCTYPE html>
<html>
<head>
    <title>Calendar</title>
    <link rel="stylesheet" href="{% static 'calendar.css' %}" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
</head>
<body>
    <div id="calendar"></div>
    {% for date in dates %}
        <p>{{ date }}</p>
    {% endfor %}
    <script>
        $(document).ready(function() {
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                defaultView: 'month',
                editable: true,
                events: [
                    // Add your event data here
                    {
                        title: 'Event 1',
                        start: '2023-05-01'
                    },
                    {
                        title: 'Event 2',
                        start: '2023-05-10',
                        end: '2023-05-12'
                    }
                ],
                events: function(start, end, timezone, callback) {
                    // Fetch events from an API endpoint or database
                    $.ajax({
                        url: '/api/events',
                        dataType: 'json',
                        success: function(data) {
                            // Process the fetched event data
                            var events = [];
                            for (var i = 0; i < data.length; i++) {
                                events.push({
                                    title: data[i].title,
                                    start: data[i].start,
                                    end: data[i].end
                                });
                            }
                            // Pass the processed event data to the calendar
                            callback(events);
                        }
                    });
                }
            });
        });
    </script>
</body>
</html>

{% endblock %}