{% extends 'base.html' %}

{% block content %}
{% load static %}
    <h1>My To-Do List </h1>
    <link rel="stylesheet" href="{% static 'tasks.css' %}">

    <a href="{% url 'tasks:add_task' %}">Add Task</a>
    <ul>
        {% for task in tasks %}
            <li>
                <input type="checkbox" {% if task.completed %}checked{% endif %}>
                <strong>{{ task.title }}</strong n\>   <div class="todo-buttons">
                    <button class="edit-button">Edit</button>
                    <button class="delete-button">Delete</button>
                  </div>
                <p>{{ task.description }}</p>
                <div class="todo-buttons">
                    <button class="edit-button">Edit</button>
                    <button class="delete-button">Delete</button>
                </div>
                
            </li>
        {% empty %}
            <li>No tasks yet.</li>
        {% endfor %}
    </ul>
    <div class="todo-item">
        <span class="todo-text">Task 1</span>
        <div class="todo-buttons">
          <button class="edit-button">Edit</button>
          <button class="delete-button">Delete</button>
        </div>
      </div>
{% endblock %}
