/* CSS for the To-Do List App */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    color: #0b57e4;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  textarea {
    height: 40px;
    width: 90%;
    color: #000;
    font-size: 16px;
    outline: none;
    background: transparent;
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
    margin-left: 10px;
  }
  
  input[type="submit"] {
    padding: 8px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    
  }
  
  li {
    margin-bottom: 10px;
  }
  
  input[type="checkbox"] {
    margin-right: 5px;
  }
  