
body {
    font-family: Arial, sans-serif;
    margin: 5px;
    padding: 20px;
    
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 30px;
   
}

li {
    margin-bottom: 10px;
    
}


input[type="checkbox"] {
    margin-right: 10px;
}

strong {
    font-weight: bold;
    
}


a {
    display: inline-block;
    margin-bottom: 10px;
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


  
  .todo-buttons button {
    margin-right: 20px;
    padding: 15px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    align-items: right;
  }
  
  .edit-button {
    background-color: #007bff;
    cursor: pointer;
    margin-right: 10px;
    
  }
  
  .delete-button {
    background-color: #dc3545;
    cursor: pointer;
    margin-right: 8px;
    
  }
  
