
body {
    font-family: Arial, sans-serif;
   
    padding: 20px;
    background-image: url(images/tasks.jpg);
    align-self: center;
    
   
    
}
.final {
  align-self: center;
  
  margin-left: 20%;
}


h1 {
    text-align: center;
    color: rgb(255, 115, 0);
    
}

h2 {
  color: rgb(255, 230, 0);
}
ul {
    list-style-type: none;
    padding: 30px;
   
}

li {
    margin-bottom: 10px;
    
}


input[type="checkbox"] {
    margin-right: 10px;
}

strong {
    font-weight: bold;
    color: rgb(23, 8, 230);
    font-style: italic;
    font-size: large;
    text-align: center;
    margin-left: 50px;
    margin-top: 10px;
    
}
.edit-delete-btns {
  margin-left: 850px;
  margin-bottom: 50px;
  margin-top: -30px;



}

.titlee {
  box-sizing: border-box;
  width: 700px;
  height: 25px;
  background: #ffffffbe;
  color: #007bff;
  border-radius: 5%;
}
.task-item {
  width: 700px;
  height: 155px;
  background: #4c8ea8c9;
  color: #fff;
  box-sizing: border-box;
  border-radius: 5%;
  left: 50%;
  margin-bottom: 20px;

  

}
.date-time{
  width: 700px;
  height: 50px;
  color: rgb(230, 14, 14);
  background: rgba(255, 228, 196, 0.801);
  box-sizing: border-box;
  margin-top: 40px;
  
}
.task-item p {
  margin-left: 15px;
}
a {
    display: inline-block;
    margin-bottom: 10px;
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


  
.todo-buttons button {
    margin-right: 20px;
    padding: 15px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    align-items: right;
}
  
.edit-button {
    background-color: #007bff;
    cursor: pointer;
    margin-right: 10px;
    
}
  
.delete-button {
    background-color: #dc3545;
    cursor: pointer;
    margin-right: 8px;
    
}

.due-date-button {
    background-color: aquamarine;
    cursor: pointer;
    margin-right: 20px;
  }
  
form {
    display: inline-block;
    margin-left: 70%;
    border-radius: 10%;
}
@media (max-width: 768px) {
    form {
      display: block;
      margin-bottom: 10px;
    }
}